* {
    /* for debugging */
    /*border: 1px solid hotpink;*/
}

html {
    font-size: 1vw;
    color: darkcyan;
}

html, body, div, h1, h2, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #atf {
    height: 100%;
}

#atf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

button {
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #FFF;
    background-color: black;
    border: 1px solid #16A2D7;
    border-radius: 4px;
    cursor: pointer;
}

/* SMILE */

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-smile {
    color: deeppink;
    font-size: 10rem;
    margin-bottom: .5rem;
}